:root {
--primary-color: black;
--secondary-color: #187B95;
--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.navbar {
    --bs-navbar-color: var(--secondary-color);
    --bs-navbar-hover-color: var(--secondary-color);
    --bs-navbar-disabled-color: var(--secondary-color);
    --bs-navbar-active-color: var(--secondary-color);
    --bs-navbar-brand-color: var(--secondary-color);
    --bs-navbar-brand-hover-color: var(--secondary-color);
    --bs-navbar-toggler-border-color: var(--secondary-color);
}


a {
    --bs-link-color: var(--secondary-color);
    }
.email-link {
    text-align: center;
}

a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}
body {
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: var(--primary-color);
    font-size: 38px;
    margin-right: 10px;
}

h1 {
    color: var(--primary-color);
    font-size: 70px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-h1 {
    color: var(--primary-color);
    font-size: 66px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-paragraphs {
    margin: 20px;
}
h3 {
    color: var(--primary-color);
    font-size: 26px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.homepage-link {
    text-align: center;
    display: block;
    color: var(--secondary-color);
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.contact-link {
    border-radius: 4px;
    padding: 15px 15px;
    margin: 10px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    color: white;
}
.contact-link:hover {
    color: white;
    text-decoration: underline;
}

.about-link {
    border-radius: 4px;
    padding: 15px 15px;
    margin: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}


.primary-link {
    color: var(--secondary-color);
    text-align: left;
}

.my-img {
    max-width: 75%;
}
.my-small-img {
    max-width: 40%
}
